body {
    margin: auto;
    width: 600px;
}

/* Rubrik */
#rubrikruta {
    width: 600px;
    height: 150px;
    background-color: beige;
    border-radius: 4px;
}

.rubrik {
    color: rgb(157, 137, 104);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    /* osäker*/
    padding-top: 20px;
}

.style {
    font-style: italic;
    display: inline-block;
}

/* Navigation */
.länkar {
    text-decoration: underline dotted;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

ol {
    text-align: center;
}

li {
    display: inline-block;
}

#kantlinje {
    border-bottom: 1px solid lightgray;
    width: 600px;
    font-family: 'Times New Roman', Times, serif;
}

/* Hundrubrik och bild */
.hundrubrik {
    text-align: center;
}

.bild {
    background-image: url(Hund1.jpg);
    height: 300px;
    width: 300px;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    border: 2px solid grey;
    border-bottom: 4px solid grey;
    background-position: center;
    margin: auto;
}

/* Slutet */

footer {
    text-align: center;
}