/* Rubrik */
#rubrikruta {
    width: 600px;
    height: 200px;
    background-color: beige;
    border-radius: 4px;
}

.rubrik {
    color: rgb(140, 79, 79);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    /* osäker*/
    padding-top: 50px;
    margin: 0;
}

.style {
    font-style: italic;
    display: inline-block;
}

/* Navigation */
.länkar {
    text-decoration: underline dotted;
    color: black;
}

li {
    display: inline-block;
}

#kantlinje {
    border-bottom: 1px solid lightgray;
    width: 600px;
}

/* Hundrubrik och bild */
.hundrubrik {}

.bild {
    background-image: url(Hund1.jpg);
    height: 300px;
    width: 300px;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    border: 2px solid grey;
    border-bottom: 4px solid grey;
    background-position: center;
}


/* Faktainnehåll */

footer {}